{% extends "base.html" %}

{% block title %}Dodawanie dostawy{% endblock %}

{% block content %}
<form method="POST">
    {% csrf_token %}

    <label for="product">Nazwa Produktu:</label>
    <select id="product" name="product">
        {% for prod in latest_products_list %}
        <option value={{prod.pk}}>{{prod.product_name}}</option>
        {% endfor %}
    </select>

    <br/><br/>

    <label for="price">Cena:</label>
    <input type="number" id="price" name="price" min="0,00" step="0.01" >
    zł

    <br/><br/>

    <label for="date">Data:</label>
    <input type="date" id="date" name="date">

    <br/><br/>

    <label for="initial_quantity">Ilość początkowa</label>
    <input type="number" id="initial_quantity" name="initial_quantity"  step="0.1">
    kg
      
    <br/><br/>

    <label for="used_quantity">Ilość zużyta</label>
    <input type="number" id="used_quantity" name="used_quantity"  step="0.1" value="0,0">
    kg
    
    <br/><br/>

    <label for="waste">Strata</label>
    <input type="number" id="waste" name="waste"  step="0.1" value="0,0">
    kg
    
    <br/><br/>

    <label for="is_finished">Czy dostawa zakończona?</label>
    <input type="checkbox" id="is_finished" name="is_finished" value="True">
    
    <br/><br/>

    <input type="submit" id="submit" name="submit" value="Dodaj Dostawę">

  </form>
{% endblock %}