{% extends "base.html" %}

{% block title %}Dodawanie receptury{% endblock %}

{% block content %}
    
    {% if number_of_positions == -1 %}
    <fieldset><legend>Receptura - dane podstawowe</legend>
        <form method="POST">
            {% csrf_token %}
            <label for="name">Nazwa Receptury:</label>
            <input type="text" id="name" name="name">

            <br/><br/>

            <label for="composition">Realizowany skład:</label>
            <select id="composition" name="composition">
                {% for c in latest_compositions_list %}
                <option value={{c.pk}}>{{c.composition_name}}</option>
                {% endfor %}
            </select>

            <br/><br/>

            <label for="number_of_positions">Liczba pozycji w recepturze</label>
            <input type="number" id="number_of_positions" name="number_of_positions" value="10" min="1" step="1" >

            <br/><br/>

            <label for="type">Typ Receptury:</label>
            <input type="text" id="type" name="type" placeholder="nieobowiązkowe pole">
            
            <br/><br/>
            <input type="submit" id="submit" name="create_recipe" value="Przejdź do dodania elementów receptury">
        </form>
    </fieldset>
    {% else %}
    <fieldset><legend>Receptura - dane podstawowe</legend>
        <form>
            <label for="name">Nazwa Receptury:</label>
            <input type="text" id="name" name="name" readonly value={{recipe.name}}>

            <br/><br/>

            <label for="composition">Realizowany skład:</label>
            <select id="composition" name="composition">
                {% for c in latest_compositions_list %}
                <option value={{c.pk}} {% if c.pk == recipe.composition.pk %} selected {% endif %}>{{c.composition_name}}</option>
                {% endfor %}
            </select>

            <br/><br/>

            <label for="number_of_positions">Liczba pozycji w recepturze</label>
            <input type="number" id="number_of_positions" name="number_of_positions" value="10" min="1" step="1" readonly>

            <br/><br/>

            <label for="type">Typ Receptury:</label>
            <input type="text" id="type" name="type" readonly>
        </form>
    </fieldset>

    <fieldset><legend>Składniki</legend>
        <form method="POST">
            {% csrf_token %}
            {% for i in number_of_positions %}
            <div><fieldset>
                {% with elem_id=i|stringformat:"d" %}
                {% with product_name="product"|add:elem_id %}

                {{product_name}}
                <label for={{product_name}}>Produkt:</label>
                <select id={{product_name}} name={{product_name}}>
                    {% for prod in latest_products_list %}
                    <option value={{prod.pk}}>{{prod.product_name}}</option>
                    {% endfor %}
                </select>
                {% endwith %}
                
                <br/><br/>
                {% with quantity_name="quantity"|add:elem_id %}
                {{quantity_name}}
                <label for={{quantity_name}}>Ilość początkowa</label>
                <input type="number" id={{quantity_name}} name={{quantity_name}}  step="0.1">
                kg
                {% endwith %}
                {% endwith %}
            </fieldset></div>
            {% endfor %}
            <br/><br/>
            <input type="submit" id="submit" name="add_recipe_elements" value="Dodaj">
        </form>
    </fieldset>
    {% endif %}

{% endblock %}