{% extends "base.html" %}

{% block title %}Dostawa{% endblock %}

{% block content %}
  {% if newly_created %}
    <div id="success_add">
      Pomyślnie dodano nową dostawę!
    </div>
  {% endif %}
  
  {% if delivery %}
  <div>
    <form method="POST">
    {% csrf_token %}
      <label for="product">Nazwa Produktu:</label>
      <select id="product" name="product" {% if readonly %} disabled {% endif %}>
        {% for prod in latest_products_list %}
        <option value={{prod.pk}} {% if prod.pk == delivery.product.pk %} selected {% endif %}>{{prod.product_name}}</option>
        {% endfor %}
      </select>

      <br/><br/>

      <label for="price">Cena:</label>
      <input type="number" id="price" name="price" min="0,00" step="0.01" value={{delivery.price}} {% if readonly %} readonly {% endif %}>
      zł

      <br/><br/>

      <label for="date">Data:</label>
      <input type="date" id="date" name="date" value="{{delivery.date|date:'Y-m-d'}}" {% if readonly %} readonly {% endif %}>

      <br/><br/>

      <label for="initial_quantity">Ilość początkowa</label>
      <input type="number" id="initial_quantity" name="initial_quantity"  step="0.1" value={{delivery.initial_quantity}} {% if readonly %} readonly {% endif %}>
      kg
      
      <br/><br/>

      <label for="used_quantity">Ilość zużyta</label>
      <input type="number" id="used_quantity" name="used_quantity"  step="0.1" value={{delivery.used_quantity}} {% if readonly %} readonly {% endif %}>
      kg
      
      <br/><br/>

      <label for="waste">Strata</label>
      <input type="number" id="waste" name="waste"  step="0.1" value={{delivery.waste}} {% if readonly %} readonly {% endif %}>
      kg
      
      <br/><br/>

      <label for="is_finished">Czy dostawa zakończona?</label>
      <input type="checkbox" id="is_finished" name="is_finished"  value={{delivery.is_finished}} {% if readonly %} disabled {% endif %}>
    
      <br/><br/>

      {% if not readonly %}
      <input type="submit" name="save" value="Zapisz zmianę"/>
      {% endif %}
    </form>
  </div>

  {% if readonly %}
  <form method="POST">
    {% csrf_token %}
    <input type="submit" name="delete" value="Usuń produkt"/>
  </form>

  <form method="POST">
    {% csrf_token %}
    <input type="submit" name="edit" value="Edytuj"/>
  </form>
  {% endif %}


  
  {% else %}
  <div id="failed">Produkt nie istnieje</div>
  {% endif %}
{% endblock %}