{% extends "base.html" %}

{% block title %}Dostawa{% endblock %}

{% block content %}
  <h1>Dostawa</h1>
  {% if delivery %}
    <ul>
      {{delivery.product.product_name}}
      <br/>
      {{delivery.price}}
      <br/>
      {{delivery.date}}
      <br/>
      {{delivery.initial_quantity}}
      <br/>
      {{delivery.used_quantity}}
      <br/>
      {{delivery.waste}}
      <br/>
      {{delivery.is_finished}}
    </ul>
  {% else %}
    <p>Delivery id is incorrect</p>
  {% endif %}
{% endblock %}