<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8" />
  <title>Paszmix</title>
  <meta name="description" content="System magazynowy wspomagający produkcję pasz dla drobiu" />
  <meta name="author" content="Jakub Kopystiański" />
  
  {% load static %}
  <link rel="stylesheet" href="{% static 'warehouse/style.css' %}"/>
</head>

<body>

  <div id="container">

    <div id="logo">
      <h1>Strona Główna</h1>
    </div>

    <div id="navigation">

    </div>

    <div id="content">
      {% if latest_deliveries_list %}
      <ul>
      {% for delivery in latest_deliveries_list %}
        <li><a href="/warehouse/delivery/{{ delivery.id }}/">{{ delivery.product.product_name }} {{delivery.date}} {{delivery.price}} {{delivery.initial_quantity }}</a></li>
      {% endfor %}
      </ul>
      {% else %}
        <p>No deliveries are available.</p>
      {% endif %}
    </div>

    <div id="additions">

    </div>

    <div id="footer">

    </div>


  </div>

</body>
</html>
