:root{
  /* Gray colors */
  --gray_1: #f2f2f2;
  --gray_2: #d9d9d9;
  --gray_3: #bfbfbf;
  --gray_4: #999999;
  --gray_5: #666666;
  --gray_6: #404040;
  --gray_7: #262626;
  /* Green colors */
  --green_1: #ebfaeb;
  --green_2: #adebad;
  --green_3: #85e085;
  --green_4: #5cd65c;
  --green_5: #33cc33;
  --green_6: #2eb82e;
  --green_7: #248f24;
  --green_8: #1f7a1f;
  --green_9: #145214;
  /* Red colors */
  --red_1: #ff8080;
  --red_2: #ff0000;
}

body
{
  /* background from subtlepatterns.com */
  background-image: url("tlo.png");
  color: white;
  margin: 0;
}

#logo
{
  width: 100%;
  background-color: var(--gray_4);
  color: black;
  text-align: center;
  padding: 15px;
  position: sticky;
  top: 0px;
}

#menu
{
  width: 100%;
  background-color:  var(--gray_5);
  color: black;
  text-align: center;
  padding: 15px;
  position: sticky;
  top: 112px;
}

#menuol
{
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 18px;
  height: 40px;
  line-height: 200%;
  display: inline-block;
}

#menuol a
{
  color: white;
  text-decoration: none;
  display: block;
}

.brak_dostepnych
{
  color: white;
}

#menuol > li
{
  float: left;
  width: 200px;
  height: 40px;
  border-right: 2px dotted var(--green_6);
}

#menuol > li:first-child
{
  border-left: 2px dotted var(--green_6);
}

#menuol > li:hover
{
  background-color: var(--gray_6);
}

#menuol > li > ul
{
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 30px;
  display: none;
}

#menuol > li:hover > ul
{
  display: block;
}

#menuol > li > ul > li
{
  width: 400px;
  background-color: var(--gray_6);
  position: relative;
  z-index: 100;
  border-top: 2px dotted var(--green_6);
}

#menuol > li > ul > li:hover
{
  background-color: var(--gray_7);
}

#navigation
{
  float: left;
  background-color: var(--green_2);
  color: black;
  width: 15%;
  min-height: 289px;
}

#container
{
  float: left;
  width: 70%;
  min-height: 700px;
}

#content
{
  background-color: var(--gray_2);
  color: black;
  width: 90%;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  min-height: 690px;
}

#success_add
{
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  border-radius:20px;
  border: 5px var(--green_3) solid;
  width: 50%;
  height: 25px;
  font-size: 18px;
  background-color: var(--green_2);
}

#failed
{
  margin: auto;
  text-align: center;
  padding: 20px;
  border-radius:20px;
  border: 5px var(--red_2) solid;
  width: 50%;
  height: 25px;
  font-size: 18px;
  font-weight: 700;
  background-color: var(--red_1);
}

#additions
{
  float: right;
  background-color: var(--green_2);
  color: black;
  width: 15%;
  
  min-height: 289px;
}

#footer
{
  clear: both;
  background-color: var(--gray_4);
  color: black;
  min-height: 70px;
  text-align: center;
  padding-top: 30px;

}

.additem
{
  height: 35px;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-bottom: 3px solid var(--green_6);
  border-right: 3px solid var(--green_6);
  border-left: 3px solid var(--green_6);
}

.additem:hover
{
  background-color: var(--green_3);
}

a.addlink
{
  color: black;
  text-decoration: none;
}

/* input[type=submit], */
input[type=number],
input[type=date],
input[type=text]
{
  width: 150px;
  background-color: var(--green_1);
  color: black;
  border: 2px solid var(--green_6);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

/* input[type=submit]:focus, */
input[type=number]:focus,
input[type=date]:focus,
input[type=text]:focus
{
  background-color: var(--green_2);
}

/* input[type=submit]:hover, */
input[type=number]:hover,
input[type=date]:hover,
input[type=text]:hover
{
  background-color: var(--green_3);
}

.control2
{
  background-color: var(--gray_1);
  padding: 0px 0px 5px 5px ;
}

.control1 > label,
.control2 > label
{
  display: inline-block;
  width: 200px;
}

.control1
{
  padding: 5px 0px 5px 5px ;
}

.control1 > select,
.control2 > select
{
  width: 150px;
  background-color: var(--green_1);
  color: black;
  border: 2px solid var(--green_6);
  border-radius: 5px;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  margin-top: 10px;
}

.control1 > select:hover,
.control2 > select:hover
{
  background-color: var(--green_3);
}

.control1 > select:focus,
.control2 > select:focus
{
  background-color: var(--green_2);
}


.red_button
{
  background-color: var(--red_1);
  border: 2px solid var(--red_2);
  border-radius: 5px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 150px;
  color: black;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;
}

.red_button:hover
{
  background-color: var(--red_2);
}

.green_button
{
  background-color: var(--green_1);
  border: 2px solid var(--green_6);
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  float: left;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 150px;
  color: black;
  font-size: 14px;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  margin-top: 10px;

}

.green_button:hover
{
  background-color: var(--green_3);
}

#rozpiska > fieldset > ul > li > a
{
  color: black;
  text-decoration: none;
}

#rozpiska > fieldset > ul > li
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  background-color: var(--green_1);
  list-style-type: none;
  width: 600px;
  border: var(--green_3) solid 2px;
  border-radius: 10px;
  min-height: 15px;
  text-align: center;
}

#powitanie
{
  margin: 50px auto 0px auto;
  width: 80%;
  font-size: 25px;
  color: var(--green_2);
  text-align: center;
  background-color: var(--green_8);
  border-radius: 50px;
  box-shadow: 0 0 20px 10px var(--green_8)
}

#powitanie > a
{
  text-decoration: none;
  color: var(--green_2);
}

.sm_legend
{
  color: var(--green_8);
  text-align: center;
  margin: 5px;
}

.sm_prod > a
{
  text-decoration: none;
  color: var(--gray_5);
}

.sm_prod > a:hover
{
  color: var(--gray_6);
  text-shadow: 4px 4px 5px var(--gray_6);
}

.sm_prod
{
  border: 2px solid var(--gray_6);
  border-radius: 20px;
  box-shadow: 0 0 20px 10px var(--gray_6);
  width: 500px;
  margin: 20px 5px 20px 20px;
  padding: 10px;
}

.ins_head
{
  font-size: 20px;
  margin: 15px;
  text-align: center;
  color: var(--green_7)
}

.ins_body
{
  font-size: 14px;
  margin: 5px auto 5px auto;
  background-color: var(--green_2);
  width: 90%;
  padding: 10px;
}